image:
  registry: ${pushgateway.registry}
  repository: ${pushgateway.repository}
  tag: ${pushgateway.tag}@${pushgateway.digest}

securityContext:
  fsGroup: 65532
  runAsUser: 65532
  runAsGroup: 65532
  runAsNonRoot: true

containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsUser: 65532
  runAsGroup: 65532
  runAsNonRoot: true
