image:
  repository: ${piraeus-ha-controller.registry}/${piraeus-ha-controller.repository}
  tag: ${piraeus-ha-controller.tag}@${piraeus-ha-controller.digest}

securityContext:
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532
podSecurityContext:
  fsGroup: 65532
