#!/usr/bin/make -f

export CARGO_HOME := $(CURDIR)/src/.cargo

%:
	dh $@

override_dh_auto_configure:

override_dh_auto_build:
	cd src && cargo build --release --locked --bin drbd-reactor

override_dh_auto_install:
	install -D src/target/release/drbd-reactor debian/drbd-reactor/usr/bin/drbd-reactor
	install -D src/example/drbd-reactor.toml debian/drbd-reactor/etc/drbd-reactor.toml

override_dh_auto_test:

override_dh_auto_clean:
	-[ -d src/target ] && cd src && cargo clean
