image:
  registry: ${grafana-operator.registry}
  repository: ${grafana-operator.repository}
  tag: ${grafana-operator.tag}@${grafana-operator.digest}

podSecurityContext:
  fsGroup: 65532

securityContext:
  runAsNonRoot: true
  runAsUser: 65532
  runAsGroup: 65532
