#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	./autogen.sh
	./configure --prefix=/usr --sysconfdir=/etc --without-manual --with-keyutils

override_dh_auto_build:
	$(MAKE) -j$$(nproc)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/drbd-utils

override_dh_auto_test:

override_dh_auto_clean:
	[ ! -f Makefile ] || $(MAKE) distclean
	rm -rf autom4te.cache
